body {
  text-align: center;
}
.searchbar {
  font-size: 1.5em;
  margin: 1em;
  padding: 0.5em;
  width: 80vw;
}

ul {
  padding: 0;
  margin: 0 auto;
}

.card {
  cursor: pointer;
  display: grid;
  position: relative;
  margin: 1em auto;
  width: 80vw;
  height: 30vh;
}

.card img {
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card .title {
  font-size: 1.5em;
  font-weight: bolder;
  height: fit-content;
  margin: 0.5em;
  padding-top: 0.5em;
  text-align: left;
}

.card .vegan {
  align-self: flex-end;
  color: green;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 1em;
  padding-bottom: 0.5em;
  text-align: left;
}

@media screen and (min-width: 480px) {
  .card {
    height: 50vh;
  }
}

@media screen and (min-width: 1024px) {
  .searchbar {
    max-width: 850px;
  }

  ul {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 900px;
  }

  .card {
    height: 300px;
    width: 440px;
  }
}
